[submodule "external/glew"]
	path = external/glew
	url = git@github.com:nigels-com/glew.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader
[submodule "external/soil2"]
	path = external/soil2
	url = git@github.com:SpartanJ/SOIL2.git
